body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrapper {
    margin: 10px;
    width: max-content;
}

.input-field {
    height: 30px;
    width: 200px;
    padding: 5px;
}
.button-wrapper {
    height: 30px;
    width: 200px;
    padding: 5px;
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}
.button-wrapper-error{
    height: 30px;
    width: 200px;
    padding: 5px;
    background-color: grey;
    color: white;
    cursor:not-allowed
}
.signup-login-text {
    color: blueviolet;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}